/bin/
/target/
/vendor/
/vendor/**/.git
/build
/src/**/*.mo
*.mo
*.pot

/.project
/.buildpath
.idea
/.settings/

/vendor/

cov.xml
clover.xml
coverage.xml
.phpunit.result.cache
/.phpunit.result.cache
.vscode/
data/cache/src
data/cache/vendor
data/cache/test
data/cache/*.php
data/cache/*.php
data/cache/*
